# Lectura y escritura de fichero de datos.

## Ficheros CSV

In [1]:
import pandas as pd
import numpy as np

In [8]:
ruta_fichero = "https://raw.githubusercontent.com/marcusRB/The_Bridge_School_DataScience_PT/main/02_DataAnalysis/dataset/movie_metadata.csv"
movie_DF = pd.read_csv(ruta_fichero)

In [5]:
movie_DF

      color      director_name  ...  aspect_ratio  movie_facebook_likes
0     Color      James Cameron  ...          1.78                 33000
1     Color     Gore Verbinski  ...          2.35                     0
2     Color         Sam Mendes  ...          2.35                 85000
3     Color  Christopher Nolan  ...          2.35                164000
4       NaN        Doug Walker  ...           NaN                     0
...     ...                ...  ...           ...                   ...
5038  Color        Scott Smith  ...           NaN                    84
5039  Color                NaN  ...         16.00                 32000
5040  Color   Benjamin Roberds  ...           NaN                    16
5041  Color        Daniel Hsia  ...          2.35                   660
5042  Color           Jon Gunn  ...          1.85                   456

[5043 rows x 28 columns]

In [9]:
movie_DF.columns

Index(['color', 'director_name', 'num_critic_for_reviews', 'duration',
       'director_facebook_likes', 'actor_3_facebook_likes', 'actor_2_name',
       'actor_1_facebook_likes', 'gross', 'genres', 'actor_1_name',
       'movie_title', 'num_voted_users', 'cast_total_facebook_likes',
       'actor_3_name', 'facenumber_in_poster', 'plot_keywords',
       'movie_imdb_link', 'num_user_for_reviews', 'language', 'country',
       'content_rating', 'budget', 'title_year', 'actor_2_facebook_likes',
       'imdb_score', 'aspect_ratio', 'movie_facebook_likes'],
      dtype='object')

### Importar CSV sin encabezado

In [10]:
ruta_fichero = "https://raw.githubusercontent.com/marcusRB/The_Bridge_School_DataScience_PT/main/02_DataAnalysis/dataset/titanic_no_header.csv"
pd.read_csv(ruta_fichero)

       1  0  3  ...     7.25 Unnamed: 10  S
0      2  1  1  ...  71.2833         C85  C
1      3  1  3  ...   7.9250         NaN  S
2      4  1  1  ...  53.1000        C123  S
3      5  0  3  ...   8.0500         NaN  S
4      6  0  3  ...   8.4583         NaN  Q
..   ... .. ..  ...      ...         ... ..
885  887  0  2  ...  13.0000         NaN  S
886  888  1  1  ...  30.0000         B42  S
887  889  0  3  ...  23.4500         NaN  S
888  890  1  1  ...  30.0000        C148  C
889  891  0  3  ...   7.7500         NaN  Q

[890 rows x 12 columns]

In [12]:
# Para evitar de quitar una fila de valores, utilizamos el argumento header=None
titanic_DF = pd.read_csv(ruta_fichero, header=None)
titanic_DF.head()

   0   1   2   ...       9     10  11
0   1   0   3  ...   7.2500   NaN   S
1   2   1   1  ...  71.2833   C85   C
2   3   1   3  ...   7.9250   NaN   S
3   4   1   1  ...  53.1000  C123   S
4   5   0   3  ...   8.0500   NaN   S

[5 rows x 12 columns]

In [13]:
titanic_DF.columns

Int64Index([0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11], dtype='int64')

In [15]:
# Para el nombrado de las columnas o header veamos el primer paso
col_names = ["PassengerId", "Survived", "Pclass", "Name",
                          "Sex", "Age", "SibSp", "Parch", "Ticket", "Fare", "Cabin", "Embarked"]

In [16]:
# Para poder aplicar el nombre de las columnas utilizamos el argumento names 
titanic_DF = pd.read_csv(ruta_fichero, header = None,
                         names = col_names)
titanic_DF.head(10)

   PassengerId  Survived  Pclass  ...     Fare Cabin  Embarked
0            1         0       3  ...   7.2500   NaN         S
1            2         1       1  ...  71.2833   C85         C
2            3         1       3  ...   7.9250   NaN         S
3            4         1       1  ...  53.1000  C123         S
4            5         0       3  ...   8.0500   NaN         S
5            6         0       3  ...   8.4583   NaN         Q
6            7         0       1  ...  51.8625   E46         S
7            8         0       3  ...  21.0750   NaN         S
8            9         1       3  ...  11.1333   NaN         S
9           10         1       2  ...  30.0708   NaN         C

[10 rows x 12 columns]

## Separador

In [17]:
ruta_fichero = "https://raw.githubusercontent.com/marcusRB/The_Bridge_School_DataScience_PT/main/02_DataAnalysis/dataset/titanic.tsv"
pd.read_csv(ruta_fichero)

                     PassengerId\tSurvived\tPclass\tName\tSex\tAge\tSibSp\tParch\tTicket\tFare\tCabin\tEmbarked
1\t0\t3\tBraund        Mr. Owen Harris\tmale\t22.0\t1\t0\tA/5 21171\...
2\t1\t1\tCumings       Mrs. John Bradley (Florence Briggs Thayer)\tf...
3\t1\t3\tHeikkinen     Miss. Laina\tfemale\t26.0\t0\t0\tSTON/O2. 310...
4\t1\t1\tFutrelle      Mrs. Jacques Heath (Lily May Peel)\tfemale\t3...
5\t0\t3\tAllen         Mr. William Henry\tmale\t35.0\t0\t0\t373450\t...
...                                                                 ...
887\t0\t2\tMontvila    Rev. Juozas\tmale\t27.0\t0\t0\t211536\t13.0\t\tS
888\t1\t1\tGraham      Miss. Margaret Edith\tfemale\t19.0\t0\t0\t112...
889\t0\t3\t"Johnston   Miss. Catherine Helen ""Carrie"""\tfemale\t\t...
890\t1\t1\tBehr        Mr. Karl Howell\tmale\t26.0\t0\t0\t111369\t30...
891\t0\t3\tDooley      Mr. Patrick\tmale\t32.0\t0\t0\t370376\t7.75\t\tQ

[891 rows x 1 columns]

In [18]:
# Para poder abrir correctamente el fichero .tsv utilizamos sep="\t"
ruta_fichero = "https://raw.githubusercontent.com/marcusRB/The_Bridge_School_DataScience_PT/main/02_DataAnalysis/dataset/titanic.tsv"
pd.read_csv(ruta_fichero, sep="\t")

     PassengerId  Survived  Pclass  ...     Fare Cabin  Embarked
0              1         0       3  ...   7.2500   NaN         S
1              2         1       1  ...  71.2833   C85         C
2              3         1       3  ...   7.9250   NaN         S
3              4         1       1  ...  53.1000  C123         S
4              5         0       3  ...   8.0500   NaN         S
..           ...       ...     ...  ...      ...   ...       ...
886          887         0       2  ...  13.0000   NaN         S
887          888         1       1  ...  30.0000   B42         S
888          889         0       3  ...  23.4500   NaN         S
889          890         1       1  ...  30.0000  C148         C
890          891         0       3  ...   7.7500   NaN         Q

[891 rows x 12 columns]

## Carga de los datos con semicolon

In [23]:
ruta_fichero = '/content/titanic_semicolon.csv'
pd.read_csv(ruta_fichero )

    PassengerId;Survived;Pclass;Name;Sex;Age;SibSp;Parch;Ticket;Fare;Cabin;Embarked
0    1;0;3;"Braund; Mr. Owen Harris";male;22;1;0;A/...
1    2;1;1;"Cumings; Mrs. John Bradley (Florence Br...
2    3;1;3;"Heikkinen; Miss. Laina";female;26;0;0;S...
3    4;1;1;"Futrelle; Mrs. Jacques Heath (Lily May ...
4    5;0;3;"Allen; Mr. William Henry";male;35;0;0;3...
..                                                 ...
886  887;0;2;"Montvila; Rev. Juozas";male;27;0;0;21...
887  888;1;1;"Graham; Miss. Margaret Edith";female;...
888  889;0;3;"Johnston; Miss. Catherine Helen ""Car...
889  890;1;1;"Behr; Mr. Karl Howell";male;26;0;0;11...
890  891;0;3;"Dooley; Mr. Patrick";male;32;0;0;3703...

[891 rows x 1 columns]

In [38]:
# PAra abrir correctamente el fichero con semicolor con sep=";"
ruta_fichero = '/content/titanic_semicolon.csv'
titanic_DF = pd.read_csv(ruta_fichero, sep=";")
titanic_DF.head()

   PassengerId  Survived  Pclass  ...     Fare Cabin  Embarked
0            1         0       3  ...   7.2500   NaN         S
1            2         1       1  ...  71.2833   C85         C
2            3         1       3  ...   7.9250   NaN         S
3            4         1       1  ...  53.1000  C123         S
4            5         0       3  ...   8.0500   NaN         S

[5 rows x 12 columns]

In [39]:
# Para guardar un fichero en formato csv
titanic_DF.to_csv("nuevo_fichero.csv", index=False)

## Fichero excel

In [27]:
# Por defecto read_excel abre la hoja número 1 (por índice 0)
ruta_fichero = '/content/movies.xls'
pd.read_excel(ruta_fichero)

                                                  Title  ...  IMDB Score
0     Intolerance: Love's Struggle Throughout the Ages   ...         8.0
1                       Over the Hill to the Poorhouse   ...         4.8
2                                       The Big Parade   ...         8.3
3                                           Metropolis   ...         8.3
4                                        Pandora's Box   ...         8.0
...                                                 ...  ...         ...
1333                                  Twin Falls Idaho   ...         7.3
1334                     Universal Soldier: The Return   ...         4.1
1335                                     Varsity Blues   ...         6.4
1336                                    Wild Wild West   ...         4.8
1337                                    Wing Commander   ...         4.1

[1338 rows x 25 columns]

In [29]:
pd.read_excel(ruta_fichero, sheet_name=1) # puedo llamar por índice

                                  Title  Year  ... Reviews by Crtiics IMDB Score
0                       102 Dalmatians   2000  ...               84.0        4.8
1                              28 Days   2000  ...              116.0        6.0
2                            3 Strikes   2000  ...               22.0        4.0
3                             Aberdeen   2000  ...               28.0        7.3
4                All the Pretty Horses   2000  ...               85.0        5.8
...                                 ...   ...  ...                ...        ...
2095          X-Men Origins: Wolverine   2009  ...              350.0        6.7
2096                          Year One   2009  ...              170.0        4.9
2097                   Youth in Revolt   2009  ...              192.0        6.5
2098  ZMD: Zombies of Mass Destruction   2009  ...               64.0        5.1
2099                        Zombieland   2009  ...              445.0        7.7

[2100 rows x 25 columns]

In [31]:
excel_DF = pd.read_excel(ruta_fichero, sheet_name='2010s') # también podemos utilizar el nombre de la hoja
excel_DF.head()

                                  Title    Year  ... Reviews by Crtiics IMDB Score
0                            127 Hours   2010.0  ...              450.0        7.6
1                          3 Backyards   2010.0  ...               20.0        5.2
2                                    3   2010.0  ...               76.0        6.8
3            8: The Mormon Proposition   2010.0  ...               28.0        7.1
4  A Turtle's Tale: Sammy's Adventures   2010.0  ...               56.0        6.1

[5 rows x 25 columns]

In [37]:
# En caso de guardar el fichero excel
excel_DF.to_excel('movies_2010.xlsx', index=False)

In [41]:
type(excel_DF)

pandas.core.frame.DataFrame

In [44]:
type(titanic_DF) == type(excel_DF)

True

## Fichero TXT

In [45]:
ruta_fichero = "https://raw.githubusercontent.com/marcusRB/The_Bridge_School_DataScience_PT/main/02_DataAnalysis/dataset/players_list_foa.txt"
pd.read_csv(ruta_fichero)

ParserError: ignored

In [47]:
pd.read_fwf(ruta_fichero)

      ID Number                       Name  Fed Sex  ...  BGm    BK B-day Flag
0      10224084  A B M Hasibuzzaman, Tapan  BAN   M  ...  NaN   NaN  1977  NaN
1      35077023             A Chakravarthy  IND   M  ...  NaN   NaN  1986    i
2      10207538           A E M, Doshtagir  BAN   M  ...  0.0  20.0  1974    i
3       5716365            A Hamid, Harman  MAS   M  ...  NaN   NaN     0  NaN
4      10207546        A K M Aminul, Islam  BAN   M  ...  NaN   NaN     0  NaN
...         ...                        ...  ...  ..  ...  ...   ...   ...  ...
4705   35097679              Abhijith , Kp  IND   M  ...  NaN   NaN     0  NaN
4706   35071998             Abhijith Ajith  IND   M  ...  NaN   NaN  2003    i
4707   25749072           Abhijith C Menon  IND   M  ...  NaN   NaN  2004  NaN
4708   45088365               Abhijith C S  IND   M  ...  NaN   NaN  2002    i
4709   45095302        Abhijith Cheettrala  IND   M  ...  NaN   NaN  2003    i

[4710 rows x 19 columns]

In [46]:
# Para leer un fichero .txt debemos utilizar read_fwf
df = pd.read_fwf(ruta_fichero)
df.head()

   ID Number                       Name  Fed Sex  ...  BGm    BK B-day Flag
0   10224084  A B M Hasibuzzaman, Tapan  BAN   M  ...  NaN   NaN  1977  NaN
1   35077023             A Chakravarthy  IND   M  ...  NaN   NaN  1986    i
2   10207538           A E M, Doshtagir  BAN   M  ...  0.0  20.0  1974    i
3    5716365            A Hamid, Harman  MAS   M  ...  NaN   NaN     0  NaN
4   10207546        A K M Aminul, Islam  BAN   M  ...  NaN   NaN     0  NaN

[5 rows x 19 columns]

## Formato JSON

`JSON`, acrónimo de _JavaScript Object Notation_, es un formato estándard de transferencia de datos que utiliza una sintaxi legible para los humanos y que consiste en listas anidadas de pares clave/valor. Por [ejemplo](http://json.org/example.html), aquí podemos ver un registro de una base de datos no relacional en formato JSON:

```json
{
  "menu": {
    "id": "file",
    "value": "File",
    "popup": {
      "menuitem": [
        {"value": "New", "onclick": "CreateNewDoc()"},
        {"value": "Open", "onclick": "OpenDoc()"},
        {"value": "Close", "onclick": "CloseDoc()"}
      ]
    }
  }
}
```

Como podemos ver, los datos no están estructurados en formato tabla. Cuando carguemos el `JSON` a un `DataFrame` con `pandas`, cada columna corresponderá a una de las claves de primer nivel de cada registro. Y su valor será, en el caso de listas anidadas, una lista en formato `JSON`.

In [49]:
ruta_fichero = "https://raw.githubusercontent.com/marcusRB/The_Bridge_School_DataScience_PT/main/02_DataAnalysis/dataset/pandas_issues.json"
df_json = pd.read_json(ruta_fichero)
df_json.head()

                                                 url  ...                                               body
0  https://api.github.com/repos/pandas-dev/pandas...  ...  This adds the matplotlib.sphinxext.plot_direct...
1  https://api.github.com/repos/pandas-dev/pandas...  ...  xref #18614  \r\n\r\n- [ ] remove the classes,...
2  https://api.github.com/repos/pandas-dev/pandas...  ...  #### Code Sample, a copy-pastable example if p...
3  https://api.github.com/repos/pandas-dev/pandas...  ...  ```\r\npandas/tests/frame/test_operators.py::T...
4  https://api.github.com/repos/pandas-dev/pandas...  ...  #### Code Sample, a copy-pastable example if p...

[5 rows x 23 columns]

No obstante podemos observar que existen valores en formato diccionario o listas. La forma más cómoda de leer este fichero, es utilizar una normalización de esta tabla. Por lo tanto definimos **aplanar** la estructura JSON

In [51]:
# Para poder aplanar (flatten) un JSON
import json
from pandas.io.json import json_normalize

with open('/content/pandas_issues.json') as f:
  issues = json.load(f)

In [53]:
issues

[{'assignee': None,
  'assignees': [],
  'author_association': 'OWNER',
  'body': 'This adds the matplotlib.sphinxext.plot_directive as extension to conf.py, and added a small example in the `Series.plot.line` docstring',
  'closed_at': None,
  'comments': 0,
  'comments_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/20015/comments',
  'created_at': '2018-03-06T15:20:53Z',
  'events_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/20015/events',
  'html_url': 'https://github.com/pandas-dev/pandas/pull/20015',
  'id': 302742972,
  'labels': [],
  'labels_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/20015/labels{/name}',
  'locked': False,
  'milestone': None,
  'number': 20015,
  'pull_request': {'diff_url': 'https://github.com/pandas-dev/pandas/pull/20015.diff',
   'html_url': 'https://github.com/pandas-dev/pandas/pull/20015',
   'patch_url': 'https://github.com/pandas-dev/pandas/pull/20015.patch',
   'url': 'https://api.github.com/repos/pandas-dev/pandas/pulls/20015'},
  'repository_url': 'https://api.github.com/repos/pandas-dev/pandas',
  'state': 'open',
  'title': 'DOC: enable matplotlib plot_directive to include figures in docstrings',
  'updated_at': '2018-03-06T15:21:59Z',
  'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/20015',
  'user': {'avatar_url': 'https://avatars2.githubusercontent.com/u/1020496?v=4',
   'events_url': 'https://api.github.com/users/jorisvandenbossche/events{/privacy}',
   'followers_url': 'https://api.github.com/users/jorisvandenbossche/followers',
   'following_url': 'https://api.github.com/users/jorisvandenbossche/following{/other_user}',
   'gists_url': 'https://api.github.com/users/jorisvandenbossche/gists{/gist_id}',
   'gravatar_id': '',
   'html_url': 'https://github.com/jorisvandenbossche',
   'id': 1020496,
   'login': 'jorisvandenbossche',
   'organizations_url': 'https://api.github.com/users/jorisvandenbossche/orgs',
   'received_events_url': 'https://api.github.com/users/jorisvandenbossche/received_events',
   'repos_url': 'https://api.github.com/users/jorisvandenbossche/repos',
   'site_admin': False,
   'starred_url': 'https://api.github.com/users/jorisvandenbossche/starred{/owner}{/repo}',
   'subscriptions_url': 'https://api.github.com/users/jorisvandenbossche/subscriptions',
   'type': 'User',
   'url': 'https://api.github.com/users/jorisvandenbossche'}},
 {'assignee': None,
  'assignees': [],
  'author_association': 'CONTRIBUTOR',
  'body': 'xref #18614  \r\n\r\n- [ ] remove the classes, IOW make all of the tests at function level. This will require removing the ``setup_method`` and making fixtures for this.\r\n- [ ] some tests need to be moved around a bit, IOW we want to move tests out of test_indexing.py (the new one), so appropriate places (e.g. .drop should be in alter_axes). \r\n- [ ] want to parameterize things (e.g. anything with loops)\r\n\r\nany/all of these can be separate PRs.',
  'closed_at': None,
  'comments': 1,
  'comments_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/20014/comments',
  'created_at': '2018-03-06T11:40:05Z',
  'events_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/20014/events',
  'html_url': 'https://github.com/pandas-dev/pandas/issues/20014',
  'id': 302667311,
  'labels': [{'color': '207de5',
    'default': False,
    'id': 211029535,
    'name': 'Clean',
    'url': 'https://api.github.com/repos/pandas-dev/pandas/labels/Clean'},
   {'color': '0b02e1',
    'default': False,
    'id': 2822098,
    'name': 'Indexing',
    'url': 'https://api.github.com/repos/pandas-dev/pandas/labels/Indexing'}],
  'labels_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/20014/labels{/name}',
  'locked': False,
  'milestone': {'closed_at': None,
   'closed_issues': 1076,
   'created_at': '2017-10-20T10:17:09Z',
   'creator': {'avatar_url': 'https://avatars2.githubusercontent.com/u/953992?v=4',
    'events_url': 'https://api.github.com/users/jreback/events{/privacy}',
    'followers_url': 'https://api.github.com/users/jreback/followers',
    'following_url': 'https://api.github.com/users/jreback/following{/other_user}',
    'gists_url': 'https://api.github.com/users/jreback/gists{/gist_id}',
    'gravatar_id': '',
    'html_url': 'https://github.com/jreback',
    'id': 953992,
    'login': 'jreback',
    'organizations_url': 'https://api.github.com/users/jreback/orgs',
    'received_events_url': 'https://api.github.com/users/jreback/received_events',
    'repos_url': 'https://api.github.com/users/jreback/repos',
    'site_admin': False,
    'starred_url': 'https://api.github.com/users/jreback/starred{/owner}{/repo}',
    'subscriptions_url': 'https://api.github.com/users/jreback/subscriptions',
    'type': 'User',
    'url': 'https://api.github.com/users/jreback'},
   'description': 'after 0.22',
   'due_on': '2018-03-31T07:00:00Z',
   'html_url': 'https://github.com/pandas-dev/pandas/milestone/53',
   'id': 2853937,
   'labels_url': 'https://api.github.com/repos/pandas-dev/pandas/milestones/53/labels',
   'number': 53,
   'open_issues': 134,
   'state': 'open',
   'title': '0.23.0',
   'updated_at': '2018-03-06T13:32:20Z',
   'url': 'https://api.github.com/repos/pandas-dev/pandas/milestones/53'},
  'number': 20014,
  'repository_url': 'https://api.github.com/repos/pandas-dev/pandas',
  'state': 'open',
  'title': 'CLN: followons to refactor of series/test_indexing.py',
  'updated_at': '2018-03-06T12:14:41Z',
  'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/20014',
  'user': {'avatar_url': 'https://avatars2.githubusercontent.com/u/953992?v=4',
   'events_url': 'https://api.github.com/users/jreback/events{/privacy}',
   'followers_url': 'https://api.github.com/users/jreback/followers',
   'following_url': 'https://api.github.com/users/jreback/following{/other_user}',
   'gists_url': 'https://api.github.com/users/jreback/gists{/gist_id}',
   'gravatar_id': '',
   'html_url': 'https://github.com/jreback',
   'id': 953992,
   'login': 'jreback',
   'organizations_url': 'https://api.github.com/users/jreback/orgs',
   'received_events_url': 'https://api.github.com/users/jreback/received_events',
   'repos_url': 'https://api.github.com/users/jreback/repos',
   'site_admin': False,
   'starred_url': 'https://api.github.com/users/jreback/starred{/owner}{/repo}',
   'subscriptions_url': 'https://api.github.com/users/jreback/subscriptions',
   'type': 'User',
   'url': 'https://api.github.com/users/jreback'}},
 {'assignee': None,
  'assignees': [],
  'author_association': 'NONE',
  'body': '#### Code Sample, a copy-pastable example if possible\r\n\r\n```python\r\nimport pandas as pd\r\nimport numpy as np\r\n\r\nidx = pd.date_range(start="2010-01-01", end="2010-01-30", fred="1D")\r\ndf = pd.DataFrame(index=idx, data=np.sin(np.linspace(0,2*np.pi,len(idx))))\r\n\r\n# works well\r\ndf.rolling(5, center=True, min_periods=5)\r\n\r\n# fail with \r\n# NotImplementedError: center is not implemented for datetimelike and offset based windows\r\ndf.rolling("5D", center=True, min_periods=5)\r\n```\r\n\r\nComplete traceback:\r\n<details>\r\n\r\n```python\r\n\r\nNotImplementedError                       Traceback (most recent call last)\r\n<ipython-input-54-058f86b11afc> in <module>()\r\n----> 1 df.rolling("5D", center=True, min_periods=5)\r\n\r\n~/.local/lib/python3.5/site-packages/pandas/core/generic.py in rolling(self, window, min_periods, freq, center, win_type, on, axis, closed)\r\n   7063                                    min_periods=min_periods, freq=freq,\r\n   7064                                    center=center, win_type=win_type,\r\n-> 7065                                    on=on, axis=axis, closed=closed)\r\n   7066 \r\n   7067         cls.rolling = rolling\r\n\r\n~/.local/lib/python3.5/site-packages/pandas/core/window.py in rolling(obj, win_type, **kwds)\r\n   2064         return Window(obj, win_type=win_type, **kwds)\r\n   2065 \r\n-> 2066     return Rolling(obj, **kwds)\r\n   2067 \r\n   2068 \r\n\r\n~/.local/lib/python3.5/site-packages/pandas/core/window.py in __init__(self, obj, window, min_periods, freq, center, win_type, axis, on, closed, **kwargs)\r\n     84         self.win_freq = None\r\n     85         self.axis = obj._get_axis_number(axis) if axis is not None else None\r\n---> 86         self.validate()\r\n     87 \r\n     88     @property\r\n\r\n~/.local/lib/python3.5/site-packages/pandas/core/window.py in validate(self)\r\n   1104             # we don\'t allow center\r\n   1105             if self.center:\r\n-> 1106                 raise NotImplementedError("center is not implemented "\r\n   1107                                           "for datetimelike and offset "\r\n   1108                                           "based windows")\r\n\r\nNotImplementedError: center is not implemented for datetimelike and offset based windows\r\n\r\n```\r\n\r\n</details>\r\n\r\n#### Problem description\r\n\r\nThe rolling window is not able to be centered with a datetimelike index, which is a problem when dealing with time series. \r\n\r\nI think that this is a WIP feature. I don\'t see anything blocking about it.\r\n\r\n#### Output of ``pd.show_versions()``\r\n\r\n<details>\r\n\r\nINSTALLED VERSIONS\r\n------------------\r\ncommit: None\r\npython: 3.5.3.final.0\r\npython-bits: 64\r\nOS: Linux\r\nOS-release: 4.9.0-3-amd64\r\nmachine: x86_64\r\nprocessor: \r\nbyteorder: little\r\nLC_ALL: None\r\nLANG: C.UTF-8\r\nLOCALE: en_US.UTF-8\r\n\r\npandas: 0.21.0\r\npytest: 3.0.6\r\npip: 9.0.1\r\nsetuptools: 38.2.3\r\nCython: None\r\nnumpy: 1.13.3\r\nscipy: 0.19.1\r\npyarrow: None\r\nxarray: None\r\nIPython: 6.2.1\r\nsphinx: None\r\npatsy: 0.4.1\r\ndateutil: 2.6.1\r\npytz: 2017.3\r\nblosc: None\r\nbottleneck: None\r\ntables: 3.3.0\r\nnumexpr: 2.6.1\r\nfeather: None\r\nmatplotlib: 2.0.0\r\nopenpyxl: 2.3.0\r\nxlrd: 1.0.0\r\nxlwt: None\r\nxlsxwriter: None\r\nlxml: 3.7.1\r\nbs4: 4.5.3\r\nhtml5lib: 0.999999999\r\nsqlalchemy: 1.2.2\r\npymysql: None\r\npsycopg2: 2.6.2 (dt dec pq3 ext lo64)\r\njinja2: 2.10\r\ns3fs: None\r\nfastparquet: None\r\npandas_gbq: None\r\npandas_datareader: None\r\n\r\n</details>\r\n',
  'closed_at': None,
  'comments': 0,
  'comments_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/20012/comments',
  'created_at': '2018-03-06T11:22:54Z',
  'events_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/20012/events',
  'html_url': 'https://github.com/pandas-dev/pandas/issues/20012',
  'id': 302662325,
  'labels': [],
  'labels_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/20012/labels{/name}',
  'locked': False,
  'milestone': None,
  'number': 20012,
  'repository_url': 'https://api.github.com/repos/pandas-dev/pandas',
  'state': 'open',
  'title': 'Center rolling window with date NotImplementedError',
  'updated_at': '2018-03-06T11:22:54Z',
  'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/20012',
  'user': {'avatar_url': 'https://avatars1.githubusercontent.com/u/25247745?v=4',
   'events_url': 'https://api.github.com/users/weber-s/events{/privacy}',
   'followers_url': 'https://api.github.com/users/weber-s/followers',
   'following_url': 'https://api.github.com/users/weber-s/following{/other_user}',
   'gists_url': 'https://api.github.com/users/weber-s/gists{/gist_id}',
   'gravatar_id': '',
   'html_url': 'https://github.com/weber-s',
   'id': 25247745,
   'login': 'weber-s',
   'organizations_url': 'https://api.github.com/users/weber-s/orgs',
   'received_events_url': 'https://api.github.com/users/weber-s/received_events',
   'repos_url': 'https://api.github.com/users/weber-s/repos',
   'site_admin': False,
   'starred_url': 'https://api.github.com/users/weber-s/starred{/owner}{/repo}',
   'subscriptions_url': 'https://api.github.com/users/weber-s/subscriptions',
   'type': 'User',
   'url': 'https://api.github.com/users/weber-s'}},
 {'assignee': None,
  'assignees': [],
  'author_association': 'CONTRIBUTOR',
  'body': '```\r\npandas/tests/frame/test_operators.py::TestDataFrameOperators::()::test_comparison_invalid\r\n  /home/travis/build/pandas-dev/pandas/pandas/core/indexes/base.py:104: DeprecationWarning: elementwise == comparison failed; this will raise an error in the future.\r\n    result = op(self.values, np.asarray(other))\r\n  /home/travis/build/pandas-dev/pandas/pandas/core/indexes/base.py:104: DeprecationWarning: elementwise == comparison failed; this will raise an error in the future.\r\n    result = op(self.values, np.asarray(other))\r\n  /home/travis/build/pandas-dev/pandas/pandas/core/indexes/base.py:104: DeprecationWarning: elementwise != comparison failed; this will raise an error in the future.\r\n    result = op(self.values, np.asarray(other))\r\n  /home/travis/build/pandas-dev/pandas/pandas/core/indexes/base.py:104: DeprecationWarning: elementwise != comparison failed; this will raise an error in the future.\r\n    result = op(self.values, np.asarray(other))\r\n  /home/travis/build/pandas-dev/pandas/pandas/core/indexes/base.py:104: DeprecationWarning: elementwise == comparison failed; this will raise an error in the future.\r\n    result = op(self.values, np.asarray(other))\r\n  /home/travis/build/pandas-dev/pandas/pandas/core/indexes/base.py:104: DeprecationWarning: elementwise == comparison failed; this will raise an error in the future.\r\n    result = op(self.values, np.asarray(other))\r\n  /home/travis/build/pandas-dev/pandas/pandas/core/indexes/base.py:104: DeprecationWarning: elementwise != comparison failed; this will raise an error in the future.\r\n    result = op(self.values, np.asarray(other))\r\n  /home/travis/build/pandas-dev/pandas/pandas/core/indexes/base.py:104: DeprecationWarning: elementwise != comparison failed; this will raise an error in the future.\r\n    result = op(self.values, np.asarray(other))\r\n```\r\n\r\ncc @jbrockmendel I think some recent changes exposed these (or they are new in numpy 1.14.1tons).\r\n\r\nshould not just catch these, rather handle intelligently. IIRC these are for a comparison of ``None``\r\n\r\nlots of warnings that need catchng / fixing: https://travis-ci.org/pandas-dev/pandas/jobs/349648610\r\n\r\n',
  'closed_at': None,
  'comments': 0,
  'comments_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/20011/comments',
  'created_at': '2018-03-06T11:03:58Z',
  'events_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/20011/events',
  'html_url': 'https://github.com/pandas-dev/pandas/issues/20011',
  'id': 302656554,
  'labels': [{'color': '0052cc',
    'default': False,
    'id': 76865106,
    'name': 'Compat',
    'url': 'https://api.github.com/repos/pandas-dev/pandas/labels/Compat'}],
  'labels_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/20011/labels{/name}',
  'locked': False,
  'milestone': {'closed_at': None,
   'closed_issues': 1076,
   'created_at': '2017-10-20T10:17:09Z',
   'creator': {'avatar_url': 'https://avatars2.githubusercontent.com/u/953992?v=4',
    'events_url': 'https://api.github.com/users/jreback/events{/privacy}',
    'followers_url': 'https://api.github.com/users/jreback/followers',
    'following_url': 'https://api.github.com/users/jreback/following{/other_user}',
    'gists_url': 'https://api.github.com/users/jreback/gists{/gist_id}',
    'gravatar_id': '',
    'html_url': 'https://github.com/jreback',
    'id': 953992,
    'login': 'jreback',
    'organizations_url': 'https://api.github.com/users/jreback/orgs',
    'received_events_url': 'https://api.github.com/users/jreback/received_events',
    'repos_url': 'https://api.github.com/users/jreback/repos',
    'site_admin': False,
    'starred_url': 'https://api.github.com/users/jreback/starred{/owner}{/repo}',
    'subscriptions_url': 'https://api.github.com/users/jreback/subscriptions',
    'type': 'User',
    'url': 'https://api.github.com/users/jreback'},
   'description': 'after 0.22',
   'due_on': '2018-03-31T07:00:00Z',
   'html_url': 'https://github.com/pandas-dev/pandas/milestone/53',
   'id': 2853937,
   'labels_url': 'https://api.github.com/repos/pandas-dev/pandas/milestones/53/labels',
   'number': 53,
   'open_issues': 134,
   'state': 'open',
   'title': '0.23.0',
   'updated_at': '2018-03-06T13:32:20Z',
   'url': 'https://api.github.com/repos/pandas-dev/pandas/milestones/53'},
  'number': 20011,
  'repository_url': 'https://api.github.com/repos/pandas-dev/pandas',
  'state': 'open',
  'title': 'WARN: numpy warnings on operations',
  'updated_at': '2018-03-06T11:06:37Z',
  'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/20011',
  'user': {'avatar_url': 'https://avatars2.githubusercontent.com/u/953992?v=4',
   'events_url': 'https://api.github.com/users/jreback/events{/privacy}',
   'followers_url': 'https://api.github.com/users/jreback/followers',
   'following_url': 'https://api.github.com/users/jreback/following{/other_user}',
   'gists_url': 'https://api.github.com/users/jreback/gists{/gist_id}',
   'gravatar_id': '',
   'html_url': 'https://github.com/jreback',
   'id': 953992,
   'login': 'jreback',
   'organizations_url': 'https://api.github.com/users/jreback/orgs',
   'received_events_url': 'https://api.github.com/users/jreback/received_events',
   'repos_url': 'https://api.github.com/users/jreback/repos',
   'site_admin': False,
   'starred_url': 'https://api.github.com/users/jreback/starred{/owner}{/repo}',
   'subscriptions_url': 'https://api.github.com/users/jreback/subscriptions',
   'type': 'User',
   'url': 'https://api.github.com/users/jreback'}},
 {'assignee': None,
  'assignees': [],
  'author_association': 'CONTRIBUTOR',
  'body': "#### Code Sample, a copy-pastable example if possible\r\n\r\n```python\r\nIn [2]: df = pd.DataFrame([[1, 2]], columns=pd.MultiIndex.from_tuples([('', 'first'), ('2', 'second')]))\r\n\r\nIn [3]: df\r\nOut[3]: \r\n             2\r\n  first second\r\n0     1      2\r\n\r\nIn [4]: print(df.to_latex())\r\n\\begin{tabular}{lrr}\r\n\\toprule\r\n{} &      2 \\\\\r\n{} & first & second \\\\\r\n\\midrule\r\n0 &     1 &      2 \\\\\r\n\\bottomrule\r\n\\end{tabular}\r\n```\r\n\r\n#### Problem description\r\n\r\nNotice that the headers line has 2 elements rather than 3.\r\n\r\n#### Expected Output\r\n\r\n``` python\r\n\\begin{tabular}{lrr}\r\n\\toprule\r\n{} &    {} &      2 \\\\\r\n{} & first & second \\\\\r\n\\midrule\r\n0 &     1 &      2 \\\\\r\n\\bottomrule\r\n\\end{tabular}\r\n```\r\n\r\n#### Output of ``pd.show_versions()``\r\n\r\n<details>\r\n\r\nINSTALLED VERSIONS\r\n------------------\r\ncommit: None\r\npython: 3.5.3.final.0\r\npython-bits: 64\r\nOS: Linux\r\nOS-release: 4.9.0-5-amd64\r\nmachine: x86_64\r\nprocessor: \r\nbyteorder: little\r\nLC_ALL: None\r\nLANG: it_IT.UTF-8\r\nLOCALE: it_IT.UTF-8\r\n\r\npandas: 0.23.0.dev0+422.g0bfb61b21\r\npytest: 3.2.3\r\npip: 9.0.1\r\nsetuptools: 36.7.0\r\nCython: 0.25.2\r\nnumpy: 1.14.1\r\nscipy: 0.19.0\r\npyarrow: None\r\nxarray: None\r\nIPython: 6.2.1\r\nsphinx: 1.5.6\r\npatsy: 0.5.0\r\ndateutil: 2.6.1\r\npytz: 2017.2\r\nblosc: None\r\nbottleneck: 1.2.0dev\r\ntables: 3.3.0\r\nnumexpr: 2.6.1\r\nfeather: 0.3.1\r\nmatplotlib: 2.0.0\r\nopenpyxl: 2.3.0\r\nxlrd: 1.0.0\r\nxlwt: 1.3.0\r\nxlsxwriter: 0.9.6\r\nlxml: 4.1.1\r\nbs4: 4.5.3\r\nhtml5lib: 0.999999999\r\nsqlalchemy: 1.0.15\r\npymysql: None\r\npsycopg2: None\r\njinja2: 2.10\r\ns3fs: None\r\nfastparquet: None\r\npandas_gbq: None\r\npandas_datareader: 0.2.1\r\n\r\n</details>\r\n",
  'closed_at': None,
  'comments': 0,
  'comments_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/20008/comments',
  'created_at': '2018-03-06T00:24:20Z',
  'events_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/20008/events',
  'html_url': 'https://github.com/pandas-dev/pandas/issues/20008',
  'id': 302516428,
  'labels': [],
  'labels_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/20008/labels{/name}',
  'locked': False,
  'milestone': None,
  'number': 20008,
  'repository_url': 'https://api.github.com/repos/pandas-dev/pandas',

In [55]:
type(issues[0])

dict

In [62]:
issues[0].items()

dict_items([('url', 'https://api.github.com/repos/pandas-dev/pandas/issues/20015'), ('repository_url', 'https://api.github.com/repos/pandas-dev/pandas'), ('labels_url', 'https://api.github.com/repos/pandas-dev/pandas/issues/20015/labels{/name}'), ('comments_url', 'https://api.github.com/repos/pandas-dev/pandas/issues/20015/comments'), ('events_url', 'https://api.github.com/repos/pandas-dev/pandas/issues/20015/events'), ('html_url', 'https://github.com/pandas-dev/pandas/pull/20015'), ('id', 302742972), ('number', 20015), ('title', 'DOC: enable matplotlib plot_directive to include figures in docstrings'), ('user', {'login': 'jorisvandenbossche', 'id': 1020496, 'avatar_url': 'https://avatars2.githubusercontent.com/u/1020496?v=4', 'gravatar_id': '', 'url': 'https://api.github.com/users/jorisvandenbossche', 'html_url': 'https://github.com/jorisvandenbossche', 'followers_url': 'https://api.github.com/users/jorisvandenbossche/followers', 'following_url': 'https://api.github.com/users/jorisvandenbossche/following{/other_user}', 'gists_url': 'https://api.github.com/users/jorisvandenbossche/gists{/gist_id}', 'starred_url': 'https://api.github.com/users/jorisvandenbossche/starred{/owner}{/repo}', 'subscriptions_url': 'https://api.github.com/users/jorisvandenbossche/subscriptions', 'organizations_url': 'https://api.github.com/users/jorisvandenbossche/orgs', 'repos_url': 'https://api.github.com/users/jorisvandenbossche/repos', 'events_url': 'https://api.github.com/users/jorisvandenbossche/events{/privacy}', 'received_events_url': 'https://api.github.com/users/jorisvandenbossche/received_events', 'type': 'User', 'site_admin': False}), ('labels', []), ('state', 'open'), ('locked', False), ('assignee', None), ('assignees', []), ('milestone', None), ('comments', 0), ('created_at', '2018-03-06T15:20:53Z'), ('updated_at', '2018-03-06T15:21:59Z'), ('closed_at', None), ('author_association', 'OWNER'), ('pull_request', {'url': 'https://api.github.com/repos/pandas-dev/pandas/pulls/20015', 'html_url': 'https://github.com/pandas-dev/pandas/pull/20015', 'diff_url': 'https://github.com/pandas-dev/pandas/pull/20015.diff', 'patch_url': 'https://github.com/pandas-dev/pandas/pull/20015.patch'}), ('body', 'This adds the matplotlib.sphinxext.plot_directive as extension to conf.py, and added a small example in the `Series.plot.line` docstring')])

In [63]:
# Para poder normalizar este diccionario utilizamos json_normalize
df = json_normalize(issues)
df.head()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: FutureWarning: pandas.io.json.json_normalize is deprecated, use pandas.json_normalize instead

                                                 url  ... milestone.closed_at
0  https://api.github.com/repos/pandas-dev/pandas...  ...                 NaN
1  https://api.github.com/repos/pandas-dev/pandas...  ...                 NaN
2  https://api.github.com/repos/pandas-dev/pandas...  ...                 NaN
3  https://api.github.com/repos/pandas-dev/pandas...  ...                 NaN
4  https://api.github.com/repos/pandas-dev/pandas...  ...                 NaN

[5 rows x 73 columns]

In [65]:
df.info

<bound method DataFrame.info of                                                   url  ... milestone.closed_at
0   https://api.github.com/repos/pandas-dev/pandas...  ...                 NaN
1   https://api.github.com/repos/pandas-dev/pandas...  ...                 NaN
2   https://api.github.com/repos/pandas-dev/pandas...  ...                 NaN
3   https://api.github.com/repos/pandas-dev/pandas...  ...                 NaN
4   https://api.github.com/repos/pandas-dev/pandas...  ...                 NaN
5   https://api.github.com/repos/pandas-dev/pandas...  ...                 NaN
6   https://api.github.com/repos/pandas-dev/pandas...  ...                 NaN
7   https://api.github.com/repos/pandas-dev/pandas...  ...                 NaN
8   https://api.github.com/repos/pandas-dev/pandas...  ...                 NaN
9   https://api.github.com/repos/pandas-dev/pandas...  ...                 NaN
10  https://api.github.com/repos/pandas-dev/pandas...  ...                 NaN
11  https://api.github.com/repos/pandas-dev/pandas...  ...                 NaN
12  https://api.github.com/repos/pandas-dev/pandas...  ...                 NaN
13  https://api.github.com/repos/pandas-dev/pandas...  ...                 NaN
14  https://api.github.com/repos/pandas-dev/pandas...  ...                 NaN

[15 rows x 73 columns]>

In [66]:
# Para guardar el fichero nuevamente en json
df.to_json("nuevo_fichero.json")

In [68]:
df.head(6)

                                                 url  ... milestone.closed_at
0  https://api.github.com/repos/pandas-dev/pandas...  ...                 NaN
1  https://api.github.com/repos/pandas-dev/pandas...  ...                 NaN
2  https://api.github.com/repos/pandas-dev/pandas...  ...                 NaN
3  https://api.github.com/repos/pandas-dev/pandas...  ...                 NaN
4  https://api.github.com/repos/pandas-dev/pandas...  ...                 NaN
5  https://api.github.com/repos/pandas-dev/pandas...  ...                 NaN

[6 rows x 73 columns]

In [69]:
df.tail()

                                                  url  ... milestone.closed_at
10  https://api.github.com/repos/pandas-dev/pandas...  ...                 NaN
11  https://api.github.com/repos/pandas-dev/pandas...  ...                 NaN
12  https://api.github.com/repos/pandas-dev/pandas...  ...                 NaN
13  https://api.github.com/repos/pandas-dev/pandas...  ...                 NaN
14  https://api.github.com/repos/pandas-dev/pandas...  ...                 NaN

[5 rows x 73 columns]

## Ficheros zip

In [72]:
import zipfile
ruta_fichero = "/content/titanic.csv.zip"
zf = zipfile.ZipFile(ruta_fichero)

In [73]:
df = pd.read_csv(zf.open('titanic.csv'))
df.head()

   PassengerId  Survived  Pclass  ...     Fare Cabin  Embarked
0            1         0       3  ...   7.2500   NaN         S
1            2         1       1  ...  71.2833   C85         C
2            3         1       3  ...   7.9250   NaN         S
3            4         1       1  ...  53.1000  C123         S
4            5         0       3  ...   8.0500   NaN         S

[5 rows x 12 columns]

In [ ]:
# La alternativa sería utilizar unzip o tar del propio linux
# con wget o curl es recoger el recurso online
# y sucesivamente descomprimir el fichero
%shell
unzip <nombre_fichero>.zip

In [76]:
!wget https://github.com/marcusRB/The_Bridge_School_DataScience_PT/blob/main/02_DataAnalysis/dataset/titanic.csv.zip

--2021-07-07 18:46:21--  https://github.com/marcusRB/The_Bridge_School_DataScience_PT/blob/main/02_DataAnalysis/dataset/titanic.csv.zip
Resolving github.com (github.com)... 192.30.255.113
Connecting to github.com (github.com)|192.30.255.113|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: unspecified [text/html]
Saving to: ‘titanic.csv.zip.1’

titanic.csv.zip.1       [  <=>               ] 115.24K   308KB/s    in 0.4s

2021-07-07 18:46:22 (308 KB/s) - ‘titanic.csv.zip.1’ saved [118004]

In [80]:
!unzip titanic.csv.zip

Archive:  titanic.csv.zip
  inflating: titanic.csv

In [81]:
# Abrir en formato dataframe+
df = pd.read_csv("/content/titanic.csv.zip", compression='zip')
df.head()

   PassengerId  Survived  Pclass  ...     Fare Cabin  Embarked
0            1         0       3  ...   7.2500   NaN         S
1            2         1       1  ...  71.2833   C85         C
2            3         1       3  ...   7.9250   NaN         S
3            4         1       1  ...  53.1000  C123         S
4            5         0       3  ...   8.0500   NaN         S

[5 rows x 12 columns]

***
## Observar un fichero y tratar los valores 

(limpieza, manipulación, imputación...)

In [82]:
# Importamos las librerías
import pandas as pd
import numpy as np

In [83]:
ruta_fichero = "https://raw.githubusercontent.com/marcusRB/The_Bridge_School_DataScience_PT/main/02_DataAnalysis/dataset/movie_metadata.csv"
dataset = pd.read_csv(ruta_fichero)
dataset.head()

   color      director_name  ...  aspect_ratio  movie_facebook_likes
0  Color      James Cameron  ...          1.78                 33000
1  Color     Gore Verbinski  ...          2.35                     0
2  Color         Sam Mendes  ...          2.35                 85000
3  Color  Christopher Nolan  ...          2.35                164000
4    NaN        Doug Walker  ...           NaN                     0

[5 rows x 28 columns]

In [84]:
dataset.tail()

      color     director_name  ...  aspect_ratio  movie_facebook_likes
5038  Color       Scott Smith  ...           NaN                    84
5039  Color               NaN  ...         16.00                 32000
5040  Color  Benjamin Roberds  ...           NaN                    16
5041  Color       Daniel Hsia  ...          2.35                   660
5042  Color          Jon Gunn  ...          1.85                   456

[5 rows x 28 columns]

In [85]:
dataset.columns

Index(['color', 'director_name', 'num_critic_for_reviews', 'duration',
       'director_facebook_likes', 'actor_3_facebook_likes', 'actor_2_name',
       'actor_1_facebook_likes', 'gross', 'genres', 'actor_1_name',
       'movie_title', 'num_voted_users', 'cast_total_facebook_likes',
       'actor_3_name', 'facenumber_in_poster', 'plot_keywords',
       'movie_imdb_link', 'num_user_for_reviews', 'language', 'country',
       'content_rating', 'budget', 'title_year', 'actor_2_facebook_likes',
       'imdb_score', 'aspect_ratio', 'movie_facebook_likes'],
      dtype='object')

In [86]:
dataset.shape

(5043, 28)

In [88]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5043 entries, 0 to 5042
Data columns (total 28 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   color                      5024 non-null   object
 1   director_name              4939 non-null   object
 2   num_critic_for_reviews     4993 non-null   float64
 3   duration                   5028 non-null   float64
 4   director_facebook_likes    4939 non-null   float64
 5   actor_3_facebook_likes     5020 non-null   float64
 6   actor_2_name               5030 non-null   object
 7   actor_1_facebook_likes     5036 non-null   float64
 8   gross                      4159 non-null   float64
 9   genres                     5043 non-null   object
 10  actor_1_name               5036 non-null   object
 11  movie_title                5043 non-null   object
 12  num_voted_users            5043 non-null   int64
 13  cast_total_facebook_likes  5043 non-null   int64
 14  actor_3_name               5020 non-null   object
 15  facenumber_in_poster       5030 non-null   float64
 16  plot_keywords              4890 non-null   object
 17  movie_imdb_link            5043 non-null   object
 18  num_user_for_reviews       5022 non-null   float64
 19  language                   5031 non-null   object
 20  country                    5038 non-null   object
 21  content_rating             4740 non-null   object
 22  budget                     4551 non-null   float64
 23  title_year                 4935 non-null   float64
 24  actor_2_facebook_likes     5030 non-null   float64
 25  imdb_score                 5043 non-null   float64
 26  aspect_ratio               4714 non-null   float64
 27  movie_facebook_likes       5043 non-null   int64
dtypes: float64(13), int64(3), object(12)
memory usage: 1.1+ MB

In [89]:
# observamos los estadísticos básico
dataset.describe()

       num_critic_for_reviews     duration  ...  aspect_ratio  movie_facebook_likes
count             4993.000000  5028.000000  ...   4714.000000           5043.000000
mean               140.194272   107.201074  ...      2.220403           7525.964505
std                121.601675    25.197441  ...      1.385113          19320.445110
min                  1.000000     7.000000  ...      1.180000              0.000000
25%                 50.000000    93.000000  ...      1.850000              0.000000
50%                110.000000   103.000000  ...      2.350000            166.000000
75%                195.000000   118.000000  ...      2.350000           3000.000000
max                813.000000   511.000000  ...     16.000000         349000.000000

[8 rows x 16 columns]

### Primera parte de EDA (Exploratory Data Analysis)

- visualizamos los datos
- visualizamos la distribución
- check de valores nulos / vacíos 
- análisis entre variables

In [90]:
# En casp de encontrarnos con filas de valores nulos, eliminaremos la fila entera con dropna
dataset['missings'] = np.nan # creamos una columna para ensayar dropna

In [91]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5043 entries, 0 to 5042
Data columns (total 29 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   color                      5024 non-null   object
 1   director_name              4939 non-null   object
 2   num_critic_for_reviews     4993 non-null   float64
 3   duration                   5028 non-null   float64
 4   director_facebook_likes    4939 non-null   float64
 5   actor_3_facebook_likes     5020 non-null   float64
 6   actor_2_name               5030 non-null   object
 7   actor_1_facebook_likes     5036 non-null   float64
 8   gross                      4159 non-null   float64
 9   genres                     5043 non-null   object
 10  actor_1_name               5036 non-null   object
 11  movie_title                5043 non-null   object
 12  num_voted_users            5043 non-null   int64
 13  cast_total_facebook_likes  5043 non-null   int64
 14  actor_3_name               5020 non-null   object
 15  facenumber_in_poster       5030 non-null   float64
 16  plot_keywords              4890 non-null   object
 17  movie_imdb_link            5043 non-null   object
 18  num_user_for_reviews       5022 non-null   float64
 19  language                   5031 non-null   object
 20  country                    5038 non-null   object
 21  content_rating             4740 non-null   object
 22  budget                     4551 non-null   float64
 23  title_year                 4935 non-null   float64
 24  actor_2_facebook_likes     5030 non-null   float64
 25  imdb_score                 5043 non-null   float64
 26  aspect_ratio               4714 non-null   float64
 27  movie_facebook_likes       5043 non-null   int64
 28  missings                   0 non-null      float64
dtypes: float64(14), int64(3), object(12)
memory usage: 1.1+ MB

In [92]:
dataset.head()

   color      director_name  ...  movie_facebook_likes  missings
0  Color      James Cameron  ...                 33000       NaN
1  Color     Gore Verbinski  ...                     0       NaN
2  Color         Sam Mendes  ...                 85000       NaN
3  Color  Christopher Nolan  ...                164000       NaN
4    NaN        Doug Walker  ...                     0       NaN

[5 rows x 29 columns]

In [95]:
# Para poder valorar los nulos
'missings' in dataset.columns and dataset['missings'].isnull().all()

True

In [96]:
# Ante de nada guardamos una copia de seguridad
df_bak = dataset

In [97]:
# para eliminar los valores nulos cuando estén presentes tanto en fila que columna
dataset.dropna(axis=1,how='all')

      color      director_name  ...  aspect_ratio  movie_facebook_likes
0     Color      James Cameron  ...          1.78                 33000
1     Color     Gore Verbinski  ...          2.35                     0
2     Color         Sam Mendes  ...          2.35                 85000
3     Color  Christopher Nolan  ...          2.35                164000
4       NaN        Doug Walker  ...           NaN                     0
...     ...                ...  ...           ...                   ...
5038  Color        Scott Smith  ...           NaN                    84
5039  Color                NaN  ...         16.00                 32000
5040  Color   Benjamin Roberds  ...           NaN                    16
5041  Color        Daniel Hsia  ...          2.35                   660
5042  Color           Jon Gunn  ...          1.85                   456

[5043 rows x 28 columns]

In [98]:
dataset.head()

   color      director_name  ...  movie_facebook_likes  missings
0  Color      James Cameron  ...                 33000       NaN
1  Color     Gore Verbinski  ...                     0       NaN
2  Color         Sam Mendes  ...                 85000       NaN
3  Color  Christopher Nolan  ...                164000       NaN
4    NaN        Doug Walker  ...                     0       NaN

[5 rows x 29 columns]

In [99]:
# Para poder escribir la operación de borrado de los valores nulos es utilziar inplace=True
dataset.dropna(axis=1,how='all', inplace=True) # automaticamente reemplazará el dataset

In [100]:
dataset.head(3)

   color   director_name  ...  aspect_ratio  movie_facebook_likes
0  Color   James Cameron  ...          1.78                 33000
1  Color  Gore Verbinski  ...          2.35                     0
2  Color      Sam Mendes  ...          2.35                 85000

[3 rows x 28 columns]

In [103]:
'missings' in dataset.columns # comprobamos que la columna missings esté o no

False

In [104]:
# Operamos con how='any'
dataset.dropna(axis=1, how='any') # comprobamos por columna

                               genres  ... movie_facebook_likes
0     Action|Adventure|Fantasy|Sci-Fi  ...                33000
1            Action|Adventure|Fantasy  ...                    0
2           Action|Adventure|Thriller  ...                85000
3                     Action|Thriller  ...               164000
4                         Documentary  ...                    0
...                               ...  ...                  ...
5038                     Comedy|Drama  ...                   84
5039     Crime|Drama|Mystery|Thriller  ...                32000
5040            Drama|Horror|Thriller  ...                   16
5041             Comedy|Drama|Romance  ...                  660
5042                      Documentary  ...                  456

[5043 rows x 7 columns]

> la operación anterior eliminaría 21 columnas por estar presente n valores nulos por columna.

In [105]:
# comprobamos por fila los valores nulos
dataset.dropna(axis=0, how='any')

      color      director_name  ...  aspect_ratio  movie_facebook_likes
0     Color      James Cameron  ...          1.78                 33000
1     Color     Gore Verbinski  ...          2.35                     0
2     Color         Sam Mendes  ...          2.35                 85000
3     Color  Christopher Nolan  ...          2.35                164000
5     Color     Andrew Stanton  ...          2.35                 24000
...     ...                ...  ...           ...                   ...
5026  Color    Olivier Assayas  ...          2.35                   171
5027  Color       Jafar Panahi  ...          1.85                   697
5033  Color      Shane Carruth  ...          1.85                 19000
5035  Color   Robert Rodriguez  ...          1.37                     0
5042  Color           Jon Gunn  ...          1.85                   456

[3756 rows x 28 columns]

In [106]:
dataset.dropna(axis=0, how='all') # con esta operación me aseguro que no hay todos valores nulos

      color      director_name  ...  aspect_ratio  movie_facebook_likes
0     Color      James Cameron  ...          1.78                 33000
1     Color     Gore Verbinski  ...          2.35                     0
2     Color         Sam Mendes  ...          2.35                 85000
3     Color  Christopher Nolan  ...          2.35                164000
4       NaN        Doug Walker  ...           NaN                     0
...     ...                ...  ...           ...                   ...
5038  Color        Scott Smith  ...           NaN                    84
5039  Color                NaN  ...         16.00                 32000
5040  Color   Benjamin Roberds  ...           NaN                    16
5041  Color        Daniel Hsia  ...          2.35                   660
5042  Color           Jon Gunn  ...          1.85                   456

[5043 rows x 28 columns]

In [112]:
# Para poder comprobar a nivel global los valores nulos
dataset.isnull().sum() #por valor absoluto

color                         19
director_name                104
num_critic_for_reviews        50
duration                      15
director_facebook_likes      104
actor_3_facebook_likes        23
actor_2_name                  13
actor_1_facebook_likes         7
gross                        884
genres                         0
actor_1_name                   7
movie_title                    0
num_voted_users                0
cast_total_facebook_likes      0
actor_3_name                  23
facenumber_in_poster          13
plot_keywords                153
movie_imdb_link                0
num_user_for_reviews          21
language                      12
country                        5
content_rating               303
budget                       492
title_year                   108
actor_2_facebook_likes        13
imdb_score                     0
aspect_ratio                 329
movie_facebook_likes           0
dtype: int64

In [116]:
lengthDF = dataset.shape[0]

In [113]:
# Para poder comprobar a nivel global los valores nulos
dataset.isnull().sum()/len(dataset)*100 # observamos por valor relativo

color                         0.376760
director_name                 2.062265
num_critic_for_reviews        0.991473
duration                      0.297442
director_facebook_likes       2.062265
actor_3_facebook_likes        0.456078
actor_2_name                  0.257783
actor_1_facebook_likes        0.138806
gross                        17.529248
genres                        0.000000
actor_1_name                  0.138806
movie_title                   0.000000
num_voted_users               0.000000
cast_total_facebook_likes     0.000000
actor_3_name                  0.456078
facenumber_in_poster          0.257783
plot_keywords                 3.033908
movie_imdb_link               0.000000
num_user_for_reviews          0.416419
language                      0.237954
country                       0.099147
content_rating                6.008328
budget                        9.756098
title_year                    2.141582
actor_2_facebook_likes        0.257783
imdb_score                    0.000000
aspect_ratio                  6.523895
movie_facebook_likes          0.000000
dtype: float64

> Si optamos con el establecer un umbral, por ejemplo, el 5% de los valores nulos

In [117]:
delete_columns = dataset.columns[dataset.isnull().sum()/lengthDF*100 > 5]
delete_columns

Index(['gross', 'content_rating', 'budget', 'aspect_ratio'], dtype='object')

In [119]:
# Comprobamos la operación
dataset.isnull().sum()/lengthDF*100

color                         0.376760
director_name                 2.062265
num_critic_for_reviews        0.991473
duration                      0.297442
director_facebook_likes       2.062265
actor_3_facebook_likes        0.456078
actor_2_name                  0.257783
actor_1_facebook_likes        0.138806
gross                        17.529248
genres                        0.000000
actor_1_name                  0.138806
movie_title                   0.000000
num_voted_users               0.000000
cast_total_facebook_likes     0.000000
actor_3_name                  0.456078
facenumber_in_poster          0.257783
plot_keywords                 3.033908
movie_imdb_link               0.000000
num_user_for_reviews          0.416419
language                      0.237954
country                       0.099147
content_rating                6.008328
budget                        9.756098
title_year                    2.141582
actor_2_facebook_likes        0.257783
imdb_score                    0.000000
aspect_ratio                  6.523895
movie_facebook_likes          0.000000
dtype: float64

In [120]:
#si le aplicamos una condición
dataset.isnull().sum()/lengthDF*100 > 5

color                        False
director_name                False
num_critic_for_reviews       False
duration                     False
director_facebook_likes      False
actor_3_facebook_likes       False
actor_2_name                 False
actor_1_facebook_likes       False
gross                         True
genres                       False
actor_1_name                 False
movie_title                  False
num_voted_users              False
cast_total_facebook_likes    False
actor_3_name                 False
facenumber_in_poster         False
plot_keywords                False
movie_imdb_link              False
num_user_for_reviews         False
language                     False
country                      False
content_rating                True
budget                        True
title_year                   False
actor_2_facebook_likes       False
imdb_score                   False
aspect_ratio                  True
movie_facebook_likes         False
dtype: bool

In [122]:
dataset.columns[dataset.isnull().sum()/lengthDF*100 > 5]

Index(['gross', 'content_rating', 'budget', 'aspect_ratio'], dtype='object')

In [123]:
# eliminaremos las columnas cuando cumple cno nuestro umbral
dataset.drop(delete_columns, axis=1).head() # hay que añadir inplace=True para escribir la operación

   color      director_name  ...  imdb_score  movie_facebook_likes
0  Color      James Cameron  ...         7.9                 33000
1  Color     Gore Verbinski  ...         7.1                     0
2  Color         Sam Mendes  ...         6.8                 85000
3  Color  Christopher Nolan  ...         8.5                164000
4    NaN        Doug Walker  ...         7.1                     0

[5 rows x 24 columns]

In [124]:
dataset

      color      director_name  ...  aspect_ratio  movie_facebook_likes
0     Color      James Cameron  ...          1.78                 33000
1     Color     Gore Verbinski  ...          2.35                     0
2     Color         Sam Mendes  ...          2.35                 85000
3     Color  Christopher Nolan  ...          2.35                164000
4       NaN        Doug Walker  ...           NaN                     0
...     ...                ...  ...           ...                   ...
5038  Color        Scott Smith  ...           NaN                    84
5039  Color                NaN  ...         16.00                 32000
5040  Color   Benjamin Roberds  ...           NaN                    16
5041  Color        Daniel Hsia  ...          2.35                   660
5042  Color           Jon Gunn  ...          1.85                   456

[5043 rows x 28 columns]