# Lectura y escritura de fichero de datos.

## Ficheros CSV

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
ruta_fichero = "https://raw.githubusercontent.com/marcusRB/The_Bridge_School_DataScience_PT/main/02_DataAnalysis/dataset/movie_metadata.csv"
movie_DF = pd.read_csv(ruta_fichero)

In [ ]:
movie_DF

      color      director_name  ...  aspect_ratio  movie_facebook_likes
0     Color      James Cameron  ...          1.78                 33000
1     Color     Gore Verbinski  ...          2.35                     0
2     Color         Sam Mendes  ...          2.35                 85000
3     Color  Christopher Nolan  ...          2.35                164000
4       NaN        Doug Walker  ...           NaN                     0
...     ...                ...  ...           ...                   ...
5038  Color        Scott Smith  ...           NaN                    84
5039  Color                NaN  ...         16.00                 32000
5040  Color   Benjamin Roberds  ...           NaN                    16
5041  Color        Daniel Hsia  ...          2.35                   660
5042  Color           Jon Gunn  ...          1.85                   456

[5043 rows x 28 columns]

In [ ]:
movie_DF.columns

Index(['color', 'director_name', 'num_critic_for_reviews', 'duration',
       'director_facebook_likes', 'actor_3_facebook_likes', 'actor_2_name',
       'actor_1_facebook_likes', 'gross', 'genres', 'actor_1_name',
       'movie_title', 'num_voted_users', 'cast_total_facebook_likes',
       'actor_3_name', 'facenumber_in_poster', 'plot_keywords',
       'movie_imdb_link', 'num_user_for_reviews', 'language', 'country',
       'content_rating', 'budget', 'title_year', 'actor_2_facebook_likes',
       'imdb_score', 'aspect_ratio', 'movie_facebook_likes'],
      dtype='object')

### Importar CSV sin encabezado

In [ ]:
ruta_fichero = "https://raw.githubusercontent.com/marcusRB/The_Bridge_School_DataScience_PT/main/02_DataAnalysis/dataset/titanic_no_header.csv"
pd.read_csv(ruta_fichero)

       1  0  3  ...     7.25 Unnamed: 10  S
0      2  1  1  ...  71.2833         C85  C
1      3  1  3  ...   7.9250         NaN  S
2      4  1  1  ...  53.1000        C123  S
3      5  0  3  ...   8.0500         NaN  S
4      6  0  3  ...   8.4583         NaN  Q
..   ... .. ..  ...      ...         ... ..
885  887  0  2  ...  13.0000         NaN  S
886  888  1  1  ...  30.0000         B42  S
887  889  0  3  ...  23.4500         NaN  S
888  890  1  1  ...  30.0000        C148  C
889  891  0  3  ...   7.7500         NaN  Q

[890 rows x 12 columns]

In [ ]:
# Para evitar de quitar una fila de valores, utilizamos el argumento header=None
titanic_DF = pd.read_csv(ruta_fichero, header=None)
titanic_DF.head()

   0   1   2   ...       9     10  11
0   1   0   3  ...   7.2500   NaN   S
1   2   1   1  ...  71.2833   C85   C
2   3   1   3  ...   7.9250   NaN   S
3   4   1   1  ...  53.1000  C123   S
4   5   0   3  ...   8.0500   NaN   S

[5 rows x 12 columns]

In [ ]:
titanic_DF.columns

Int64Index([0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11], dtype='int64')

In [ ]:
# Para el nombrado de las columnas o header veamos el primer paso
col_names = ["PassengerId", "Survived", "Pclass", "Name",
                          "Sex", "Age", "SibSp", "Parch", "Ticket", "Fare", "Cabin", "Embarked"]

In [ ]:
# Para poder aplicar el nombre de las columnas utilizamos el argumento names 
titanic_DF = pd.read_csv(ruta_fichero, header = None,
                         names = col_names)
titanic_DF.head(10)

   PassengerId  Survived  Pclass  ...     Fare Cabin  Embarked
0            1         0       3  ...   7.2500   NaN         S
1            2         1       1  ...  71.2833   C85         C
2            3         1       3  ...   7.9250   NaN         S
3            4         1       1  ...  53.1000  C123         S
4            5         0       3  ...   8.0500   NaN         S
5            6         0       3  ...   8.4583   NaN         Q
6            7         0       1  ...  51.8625   E46         S
7            8         0       3  ...  21.0750   NaN         S
8            9         1       3  ...  11.1333   NaN         S
9           10         1       2  ...  30.0708   NaN         C

[10 rows x 12 columns]

## Separador

In [ ]:
ruta_fichero = "https://raw.githubusercontent.com/marcusRB/The_Bridge_School_DataScience_PT/main/02_DataAnalysis/dataset/titanic.tsv"
pd.read_csv(ruta_fichero)

                     PassengerId\tSurvived\tPclass\tName\tSex\tAge\tSibSp\tParch\tTicket\tFare\tCabin\tEmbarked
1\t0\t3\tBraund        Mr. Owen Harris\tmale\t22.0\t1\t0\tA/5 21171\...
2\t1\t1\tCumings       Mrs. John Bradley (Florence Briggs Thayer)\tf...
3\t1\t3\tHeikkinen     Miss. Laina\tfemale\t26.0\t0\t0\tSTON/O2. 310...
4\t1\t1\tFutrelle      Mrs. Jacques Heath (Lily May Peel)\tfemale\t3...
5\t0\t3\tAllen         Mr. William Henry\tmale\t35.0\t0\t0\t373450\t...
...                                                                 ...
887\t0\t2\tMontvila    Rev. Juozas\tmale\t27.0\t0\t0\t211536\t13.0\t\tS
888\t1\t1\tGraham      Miss. Margaret Edith\tfemale\t19.0\t0\t0\t112...
889\t0\t3\t"Johnston   Miss. Catherine Helen ""Carrie"""\tfemale\t\t...
890\t1\t1\tBehr        Mr. Karl Howell\tmale\t26.0\t0\t0\t111369\t30...
891\t0\t3\tDooley      Mr. Patrick\tmale\t32.0\t0\t0\t370376\t7.75\t\tQ

[891 rows x 1 columns]

In [ ]:
# Para poder abrir correctamente el fichero .tsv utilizamos sep="\t"
ruta_fichero = "https://raw.githubusercontent.com/marcusRB/The_Bridge_School_DataScience_PT/main/02_DataAnalysis/dataset/titanic.tsv"
pd.read_csv(ruta_fichero, sep="\t")

     PassengerId  Survived  Pclass  ...     Fare Cabin  Embarked
0              1         0       3  ...   7.2500   NaN         S
1              2         1       1  ...  71.2833   C85         C
2              3         1       3  ...   7.9250   NaN         S
3              4         1       1  ...  53.1000  C123         S
4              5         0       3  ...   8.0500   NaN         S
..           ...       ...     ...  ...      ...   ...       ...
886          887         0       2  ...  13.0000   NaN         S
887          888         1       1  ...  30.0000   B42         S
888          889         0       3  ...  23.4500   NaN         S
889          890         1       1  ...  30.0000  C148         C
890          891         0       3  ...   7.7500   NaN         Q

[891 rows x 12 columns]

## Carga de los datos con semicolon

In [ ]:
ruta_fichero = '/content/titanic_semicolon.csv'
pd.read_csv(ruta_fichero )

FileNotFoundError: ignored

In [ ]:
# PAra abrir correctamente el fichero con semicolor con sep=";"
ruta_fichero = '/content/titanic_semicolon.csv'
titanic_DF = pd.read_csv(ruta_fichero, sep=";")
titanic_DF.head()

In [ ]:
# Para guardar un fichero en formato csv
titanic_DF.to_csv("nuevo_fichero.csv", index=False)

## Fichero excel

In [ ]:
# Por defecto read_excel abre la hoja número 1 (por índice 0)
ruta_fichero = '/content/movies.xls'
pd.read_excel(ruta_fichero)

In [ ]:
pd.read_excel(ruta_fichero, sheet_name=1) # puedo llamar por índice

In [ ]:
excel_DF = pd.read_excel(ruta_fichero, sheet_name='2010s') # también podemos utilizar el nombre de la hoja
excel_DF.head()

In [ ]:
# En caso de guardar el fichero excel
excel_DF.to_excel('movies_2010.xlsx', index=False)

In [ ]:
type(excel_DF)

In [ ]:
type(titanic_DF) == type(excel_DF)

## Fichero TXT

In [ ]:
ruta_fichero = "https://raw.githubusercontent.com/marcusRB/The_Bridge_School_DataScience_PT/main/02_DataAnalysis/dataset/players_list_foa.txt"
pd.read_csv(ruta_fichero)

In [ ]:
pd.read_fwf(ruta_fichero)

In [ ]:
# Para leer un fichero .txt debemos utilizar read_fwf
df = pd.read_fwf(ruta_fichero)
df.head()

## Formato JSON

`JSON`, acrónimo de _JavaScript Object Notation_, es un formato estándard de transferencia de datos que utiliza una sintaxi legible para los humanos y que consiste en listas anidadas de pares clave/valor. Por [ejemplo](http://json.org/example.html), aquí podemos ver un registro de una base de datos no relacional en formato JSON:

```json
{
  "menu": {
    "id": "file",
    "value": "File",
    "popup": {
      "menuitem": [
        {"value": "New", "onclick": "CreateNewDoc()"},
        {"value": "Open", "onclick": "OpenDoc()"},
        {"value": "Close", "onclick": "CloseDoc()"}
      ]
    }
  }
}
```

Como podemos ver, los datos no están estructurados en formato tabla. Cuando carguemos el `JSON` a un `DataFrame` con `pandas`, cada columna corresponderá a una de las claves de primer nivel de cada registro. Y su valor será, en el caso de listas anidadas, una lista en formato `JSON`.

In [ ]:
ruta_fichero = "https://raw.githubusercontent.com/marcusRB/The_Bridge_School_DataScience_PT/main/02_DataAnalysis/dataset/pandas_issues.json"
df_json = pd.read_json(ruta_fichero)
df_json.head()

No obstante podemos observar que existen valores en formato diccionario o listas. La forma más cómoda de leer este fichero, es utilizar una normalización de esta tabla. Por lo tanto definimos **aplanar** la estructura JSON

In [ ]:
# Para poder aplanar (flatten) un JSON
import json
from pandas.io.json import json_normalize

with open('/content/pandas_issues.json') as f:
  issues = json.load(f)

In [ ]:
issues

In [ ]:
type(issues[0])

In [ ]:
issues[0].items()

In [ ]:
# Para poder normalizar este diccionario utilizamos json_normalize
df = json_normalize(issues)
df.head()

In [ ]:
df.info

In [ ]:
# Para guardar el fichero nuevamente en json
df.to_json("nuevo_fichero.json")

In [ ]:
df.head(6)

In [ ]:
df.tail()

## Ficheros zip

In [ ]:
import zipfile
ruta_fichero = "/content/titanic.csv.zip"
zf = zipfile.ZipFile(ruta_fichero)

In [ ]:
df = pd.read_csv(zf.open('titanic.csv'))
df.head()

In [ ]:
# La alternativa sería utilizar unzip o tar del propio linux
# con wget o curl es recoger el recurso online
# y sucesivamente descomprimir el fichero
%shell
unzip <nombre_fichero>.zip

In [ ]:
!wget https://github.com/marcusRB/The_Bridge_School_DataScience_PT/blob/main/02_DataAnalysis/dataset/titanic.csv.zip

In [ ]:
!unzip titanic.csv.zip

In [ ]:
# Abrir en formato dataframe+
df = pd.read_csv("/content/titanic.csv.zip", compression='zip')
df.head()

***
## Observar un fichero y tratar los valores 

(limpieza, manipulación, imputación...)

In [ ]:
# Importamos las librerías
import pandas as pd
import numpy as np

In [ ]:
ruta_fichero = "https://raw.githubusercontent.com/marcusRB/The_Bridge_School_DataScience_PT/main/02_DataAnalysis/dataset/movie_metadata.csv"
dataset = pd.read_csv(ruta_fichero)
dataset.head()

   color      director_name  ...  aspect_ratio  movie_facebook_likes
0  Color      James Cameron  ...          1.78                 33000
1  Color     Gore Verbinski  ...          2.35                     0
2  Color         Sam Mendes  ...          2.35                 85000
3  Color  Christopher Nolan  ...          2.35                164000
4    NaN        Doug Walker  ...           NaN                     0

[5 rows x 28 columns]

In [ ]:
dataset.tail()

      color     director_name  ...  aspect_ratio  movie_facebook_likes
5038  Color       Scott Smith  ...           NaN                    84
5039  Color               NaN  ...         16.00                 32000
5040  Color  Benjamin Roberds  ...           NaN                    16
5041  Color       Daniel Hsia  ...          2.35                   660
5042  Color          Jon Gunn  ...          1.85                   456

[5 rows x 28 columns]

In [ ]:
dataset.columns

Index(['color', 'director_name', 'num_critic_for_reviews', 'duration',
       'director_facebook_likes', 'actor_3_facebook_likes', 'actor_2_name',
       'actor_1_facebook_likes', 'gross', 'genres', 'actor_1_name',
       'movie_title', 'num_voted_users', 'cast_total_facebook_likes',
       'actor_3_name', 'facenumber_in_poster', 'plot_keywords',
       'movie_imdb_link', 'num_user_for_reviews', 'language', 'country',
       'content_rating', 'budget', 'title_year', 'actor_2_facebook_likes',
       'imdb_score', 'aspect_ratio', 'movie_facebook_likes'],
      dtype='object')

In [ ]:
dataset.shape

(5043, 28)

In [ ]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5043 entries, 0 to 5042
Data columns (total 28 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   color                      5024 non-null   object
 1   director_name              4939 non-null   object
 2   num_critic_for_reviews     4993 non-null   float64
 3   duration                   5028 non-null   float64
 4   director_facebook_likes    4939 non-null   float64
 5   actor_3_facebook_likes     5020 non-null   float64
 6   actor_2_name               5030 non-null   object
 7   actor_1_facebook_likes     5036 non-null   float64
 8   gross                      4159 non-null   float64
 9   genres                     5043 non-null   object
 10  actor_1_name               5036 non-null   object
 11  movie_title                5043 non-null   object
 12  num_voted_users            5043 non-null   int64
 13  cast_total_facebook_likes  5043 non-null   int64
 14  actor_3_name               5020 non-null   object
 15  facenumber_in_poster       5030 non-null   float64
 16  plot_keywords              4890 non-null   object
 17  movie_imdb_link            5043 non-null   object
 18  num_user_for_reviews       5022 non-null   float64
 19  language                   5031 non-null   object
 20  country                    5038 non-null   object
 21  content_rating             4740 non-null   object
 22  budget                     4551 non-null   float64
 23  title_year                 4935 non-null   float64
 24  actor_2_facebook_likes     5030 non-null   float64
 25  imdb_score                 5043 non-null   float64
 26  aspect_ratio               4714 non-null   float64
 27  movie_facebook_likes       5043 non-null   int64
dtypes: float64(13), int64(3), object(12)
memory usage: 1.1+ MB

In [ ]:
# observamos los estadísticos básico
dataset.describe()

       num_critic_for_reviews     duration  ...  aspect_ratio  movie_facebook_likes
count             4993.000000  5028.000000  ...   4714.000000           5043.000000
mean               140.194272   107.201074  ...      2.220403           7525.964505
std                121.601675    25.197441  ...      1.385113          19320.445110
min                  1.000000     7.000000  ...      1.180000              0.000000
25%                 50.000000    93.000000  ...      1.850000              0.000000
50%                110.000000   103.000000  ...      2.350000            166.000000
75%                195.000000   118.000000  ...      2.350000           3000.000000
max                813.000000   511.000000  ...     16.000000         349000.000000

[8 rows x 16 columns]

## Primera parte de EDA (Exploratory Data Analysis)

- visualizamos los datos
- visualizamos la distribución
- check de valores nulos / vacíos 
- análisis entre variables

### Missing Values

Many real-world datasets may contain missing values for various reasons. They are often encoded as NaNs, blanks or any other placeholders. Training a model with a dataset that has a lot of missing values can drastically impact the machine learning model’s quality. Some algorithms such as scikit-learn estimators assume that all values are numerical and have and hold meaningful value.

One way to handle this problem is to get rid of the observations that have missing data. However, you will risk losing data points with valuable information. A better strategy would be to impute the missing values. In other words, we need to infer those missing values from the existing part of the data. 

we will focus on 6 popular ways for data imputation for cross-sectional datasets:

* Do Nothing
* Imputation Using (Mean/Median) Values
* Imputation Using (Most Frequent) or (Zero/Constant) Values
* Imputation Using k-NN / K-means / Regression or Classification
* Imputation Using Multivariate Imputation by Chained Equation (MICE)
* Imputation Using Deep Learning (Datawig)

We can check all of them and evaluate model combining each step described before.

#### a. Do Nothing

That’s an easy one. You just let the algorithm handle the missing data. Some algorithms can factor in the missing values and learn the best imputation values for the missing data based on the training loss reduction (ie. XGBoost). Some others have the option to just ignore them (ie. LightGBM — use_missing=false). However, other algorithms will panic and throw an error complaining about the missing values (ie. Scikit learn — LinearRegression). In that case, you will need to handle the missing data and clean it before feeding it to the algorithm.

#### b. Imputation Using (Mean/Median) Values:

This works by calculating the mean/median of the non-missing values in a column and then replacing the missing values within each column separately and independently from the others. It can only be used with numeric data.

*Pros*:
Easy and fast.
Works well with small numerical datasets.

*Cons*:
Doesn’t factor the correlations between features. It only works on the column level.
Will give poor results on encoded categorical features (do NOT use it on categorical features).
Not very accurate.
Doesn’t account for the uncertainty in the imputations

#### c. Imputation Using (Most Frequent) or (Zero/Constant) Values

Most Frequent is another statistical strategy to impute missing values and YES!! It works with categorical features (strings or numerical representations) by replacing missing data with the most frequent values within each column.

*Pros*:
Works well with categorical features.

*Cons*:
It also doesn’t factor the correlations between features.
It can introduce bias in the data.

#### d. Imputation Using k-NN:

The k nearest neighbours is an algorithm that is used for simple classification. The algorithm uses ‘feature similarity’ to predict the values of any new data points. This means that the new point is assigned a value based on how closely it resembles the points in the training set. This can be very useful in making predictions about the missing values by finding the k’s closest neighbours to the observation with missing data and then imputing them based on the non-missing values in the neighbourhood. Let’s see some example code using Impyute library which provides a simple and easy way to use KNN for imputation:

*Pros*:
Can be much more accurate than the mean, median or most frequent imputation methods (It depends on the dataset).

*Cons*:
Computationally expensive. KNN works by storing the whole training dataset in memory.
K-NN is quite sensitive to outliers in the data (unlike SVM)

#### e. Imputation Using Multivariate Imputation by Chained Equation (MICE)

This type of imputation works by filling the missing data multiple times. Multiple Imputations (MIs) are much better than a single imputation as it measures the uncertainty of the missing values in a better way. The chained equations approach is also very flexible and can handle different variables of different data types (ie., continuous or binary) as well as complexities such as bounds or survey skip patterns. For more information on the algorithm mechanics, you can refer to the Research Paper

#### f. Imputation Using Deep Learning (Datawig):

This method works very well with categorical and non-numerical features. It is a library that learns Machine Learning models using Deep Neural Networks to impute missing values in a dataframe. It also supports both CPU and GPU for training.

*Pros*:
Quite accurate compared to other methods.
It has some functions that can handle categorical data (Feature Encoder).
It supports CPUs and GPUs.

*Cons*:
Single Column imputation.
Can be quite slow with large datasets.
You have to specify the columns that contain information about the target column that will be imputed.


#### Other Imputation Methods:

##### Stochastic regression imputation:
It is quite similar to regression imputation which tries to predict the missing values by regressing it from other related variables in the same dataset plus some random residual value.

##### Extrapolation and Interpolation:
It tries to estimate values from other observations within the range of a discrete set of known data points.

##### Hot-Deck imputation:
Works by randomly choosing the missing value from a set of related and similar variables.

In [ ]:
# En casp de encontrarnos con filas de valores nulos, eliminaremos la fila entera con dropna
dataset['missings'] = np.nan # creamos una columna para ensayar dropna

In [ ]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5043 entries, 0 to 5042
Data columns (total 29 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   color                      5024 non-null   object
 1   director_name              4939 non-null   object
 2   num_critic_for_reviews     4993 non-null   float64
 3   duration                   5028 non-null   float64
 4   director_facebook_likes    4939 non-null   float64
 5   actor_3_facebook_likes     5020 non-null   float64
 6   actor_2_name               5030 non-null   object
 7   actor_1_facebook_likes     5036 non-null   float64
 8   gross                      4159 non-null   float64
 9   genres                     5043 non-null   object
 10  actor_1_name               5036 non-null   object
 11  movie_title                5043 non-null   object
 12  num_voted_users            5043 non-null   int64
 13  cast_total_facebook_likes  5043 non-null   int64
 14  actor_3_name               5020 non-null   object
 15  facenumber_in_poster       5030 non-null   float64
 16  plot_keywords              4890 non-null   object
 17  movie_imdb_link            5043 non-null   object
 18  num_user_for_reviews       5022 non-null   float64
 19  language                   5031 non-null   object
 20  country                    5038 non-null   object
 21  content_rating             4740 non-null   object
 22  budget                     4551 non-null   float64
 23  title_year                 4935 non-null   float64
 24  actor_2_facebook_likes     5030 non-null   float64
 25  imdb_score                 5043 non-null   float64
 26  aspect_ratio               4714 non-null   float64
 27  movie_facebook_likes       5043 non-null   int64
 28  missings                   0 non-null      float64
dtypes: float64(14), int64(3), object(12)
memory usage: 1.1+ MB

In [ ]:
dataset.head()

   color      director_name  ...  movie_facebook_likes  missings
0  Color      James Cameron  ...                 33000       NaN
1  Color     Gore Verbinski  ...                     0       NaN
2  Color         Sam Mendes  ...                 85000       NaN
3  Color  Christopher Nolan  ...                164000       NaN
4    NaN        Doug Walker  ...                     0       NaN

[5 rows x 29 columns]

In [ ]:
# Para poder valorar los nulos
'missings' in dataset.columns and dataset['missings'].isnull().all()

True

In [ ]:
# Ante de nada guardamos una copia de seguridad
df_bak = dataset

In [ ]:
df_bak.head()

   color      director_name  ...  movie_facebook_likes  missings
0  Color      James Cameron  ...                 33000       NaN
1  Color     Gore Verbinski  ...                     0       NaN
2  Color         Sam Mendes  ...                 85000       NaN
3  Color  Christopher Nolan  ...                164000       NaN
4    NaN        Doug Walker  ...                     0       NaN

[5 rows x 29 columns]

In [ ]:
# para eliminar los valores nulos cuando estén presentes tanto en fila que columna
dataset.dropna(axis=1,how='all')

      color      director_name  ...  aspect_ratio  movie_facebook_likes
0     Color      James Cameron  ...          1.78                 33000
1     Color     Gore Verbinski  ...          2.35                     0
2     Color         Sam Mendes  ...          2.35                 85000
3     Color  Christopher Nolan  ...          2.35                164000
4       NaN        Doug Walker  ...           NaN                     0
...     ...                ...  ...           ...                   ...
5038  Color        Scott Smith  ...           NaN                    84
5039  Color                NaN  ...         16.00                 32000
5040  Color   Benjamin Roberds  ...           NaN                    16
5041  Color        Daniel Hsia  ...          2.35                   660
5042  Color           Jon Gunn  ...          1.85                   456

[5043 rows x 28 columns]

In [ ]:
dataset.head()

   color      director_name  ...  movie_facebook_likes  missings
0  Color      James Cameron  ...                 33000       NaN
1  Color     Gore Verbinski  ...                     0       NaN
2  Color         Sam Mendes  ...                 85000       NaN
3  Color  Christopher Nolan  ...                164000       NaN
4    NaN        Doug Walker  ...                     0       NaN

[5 rows x 29 columns]

In [ ]:
# Para poder escribir la operación de borrado de los valores nulos es utilziar inplace=True
dataset.dropna(axis=1,how='all', inplace=True) # automaticamente reemplazará el dataset

# alternativa
# dataset = dataset.dropna(axis=1,how='all')

In [ ]:
dataset.head(3)

   color   director_name  ...  aspect_ratio  movie_facebook_likes
0  Color   James Cameron  ...          1.78                 33000
1  Color  Gore Verbinski  ...          2.35                     0
2  Color      Sam Mendes  ...          2.35                 85000

[3 rows x 28 columns]

In [ ]:
'missings' in dataset.columns # comprobamos que la columna missings esté o no

False

In [ ]:
# Operamos con how='any'
dataset.dropna(axis=1, how='any') # comprobamos por columna

                               genres  ... movie_facebook_likes
0     Action|Adventure|Fantasy|Sci-Fi  ...                33000
1            Action|Adventure|Fantasy  ...                    0
2           Action|Adventure|Thriller  ...                85000
3                     Action|Thriller  ...               164000
4                         Documentary  ...                    0
...                               ...  ...                  ...
5038                     Comedy|Drama  ...                   84
5039     Crime|Drama|Mystery|Thriller  ...                32000
5040            Drama|Horror|Thriller  ...                   16
5041             Comedy|Drama|Romance  ...                  660
5042                      Documentary  ...                  456

[5043 rows x 7 columns]

> la operación anterior eliminaría 21 columnas por estar presente n valores nulos por columna.

In [ ]:
# comprobamos por fila los valores nulos
dataset.dropna(axis=0, how='any')

      color      director_name  ...  aspect_ratio  movie_facebook_likes
0     Color      James Cameron  ...          1.78                 33000
1     Color     Gore Verbinski  ...          2.35                     0
2     Color         Sam Mendes  ...          2.35                 85000
3     Color  Christopher Nolan  ...          2.35                164000
5     Color     Andrew Stanton  ...          2.35                 24000
...     ...                ...  ...           ...                   ...
5026  Color    Olivier Assayas  ...          2.35                   171
5027  Color       Jafar Panahi  ...          1.85                   697
5033  Color      Shane Carruth  ...          1.85                 19000
5035  Color   Robert Rodriguez  ...          1.37                     0
5042  Color           Jon Gunn  ...          1.85                   456

[3756 rows x 28 columns]

In [ ]:
dataset.dropna(axis=0, how='all') # con esta operación me aseguro que no hay todos valores nulos

      color      director_name  ...  aspect_ratio  movie_facebook_likes
0     Color      James Cameron  ...          1.78                 33000
1     Color     Gore Verbinski  ...          2.35                     0
2     Color         Sam Mendes  ...          2.35                 85000
3     Color  Christopher Nolan  ...          2.35                164000
4       NaN        Doug Walker  ...           NaN                     0
...     ...                ...  ...           ...                   ...
5038  Color        Scott Smith  ...           NaN                    84
5039  Color                NaN  ...         16.00                 32000
5040  Color   Benjamin Roberds  ...           NaN                    16
5041  Color        Daniel Hsia  ...          2.35                   660
5042  Color           Jon Gunn  ...          1.85                   456

[5043 rows x 28 columns]

In [ ]:
# Para poder comprobar a nivel global los valores nulos
dataset.isnull().sum() #por valor absoluto

color                         19
director_name                104
num_critic_for_reviews        50
duration                      15
director_facebook_likes      104
actor_3_facebook_likes        23
actor_2_name                  13
actor_1_facebook_likes         7
gross                        884
genres                         0
actor_1_name                   7
movie_title                    0
num_voted_users                0
cast_total_facebook_likes      0
actor_3_name                  23
facenumber_in_poster          13
plot_keywords                153
movie_imdb_link                0
num_user_for_reviews          21
language                      12
country                        5
content_rating               303
budget                       492
title_year                   108
actor_2_facebook_likes        13
imdb_score                     0
aspect_ratio                 329
movie_facebook_likes           0
dtype: int64

In [ ]:
lengthDF = dataset.shape[0]

In [ ]:
# Para poder comprobar a nivel global los valores nulos
dataset.isnull().sum()/len(dataset)*100 # observamos por valor relativo

color                         0.376760
director_name                 2.062265
num_critic_for_reviews        0.991473
duration                      0.297442
director_facebook_likes       2.062265
actor_3_facebook_likes        0.456078
actor_2_name                  0.257783
actor_1_facebook_likes        0.138806
gross                        17.529248
genres                        0.000000
actor_1_name                  0.138806
movie_title                   0.000000
num_voted_users               0.000000
cast_total_facebook_likes     0.000000
actor_3_name                  0.456078
facenumber_in_poster          0.257783
plot_keywords                 3.033908
movie_imdb_link               0.000000
num_user_for_reviews          0.416419
language                      0.237954
country                       0.099147
content_rating                6.008328
budget                        9.756098
title_year                    2.141582
actor_2_facebook_likes        0.257783
imdb_score                    0.000000
aspect_ratio                  6.523895
movie_facebook_likes          0.000000
dtype: float64

> Si optamos con el establecer un umbral, por ejemplo, el 5% de los valores nulos

In [ ]:
delete_columns = dataset.columns[dataset.isnull().sum()/lengthDF*100 > 5]
delete_columns

Index(['gross', 'content_rating', 'budget', 'aspect_ratio'], dtype='object')

In [ ]:
# Comprobamos la operación
dataset.isnull().sum()/lengthDF*100

color                         0.376760
director_name                 2.062265
num_critic_for_reviews        0.991473
duration                      0.297442
director_facebook_likes       2.062265
actor_3_facebook_likes        0.456078
actor_2_name                  0.257783
actor_1_facebook_likes        0.138806
gross                        17.529248
genres                        0.000000
actor_1_name                  0.138806
movie_title                   0.000000
num_voted_users               0.000000
cast_total_facebook_likes     0.000000
actor_3_name                  0.456078
facenumber_in_poster          0.257783
plot_keywords                 3.033908
movie_imdb_link               0.000000
num_user_for_reviews          0.416419
language                      0.237954
country                       0.099147
content_rating                6.008328
budget                        9.756098
title_year                    2.141582
actor_2_facebook_likes        0.257783
imdb_score                    0.000000
aspect_ratio                  6.523895
movie_facebook_likes          0.000000
dtype: float64

In [ ]:
#si le aplicamos una condición
dataset.isnull().sum()/lengthDF*100 > 5

color                        False
director_name                False
num_critic_for_reviews       False
duration                     False
director_facebook_likes      False
actor_3_facebook_likes       False
actor_2_name                 False
actor_1_facebook_likes       False
gross                         True
genres                       False
actor_1_name                 False
movie_title                  False
num_voted_users              False
cast_total_facebook_likes    False
actor_3_name                 False
facenumber_in_poster         False
plot_keywords                False
movie_imdb_link              False
num_user_for_reviews         False
language                     False
country                      False
content_rating                True
budget                        True
title_year                   False
actor_2_facebook_likes       False
imdb_score                   False
aspect_ratio                  True
movie_facebook_likes         False
dtype: bool

In [ ]:
dataset.columns[dataset.isnull().sum()/lengthDF*100 > 5]

Index(['gross', 'content_rating', 'budget', 'aspect_ratio'], dtype='object')

In [ ]:
# eliminaremos las columnas cuando cumple cno nuestro umbral
dataset.drop(delete_columns, axis=1).head() # hay que añadir inplace=True para escribir la operación

   color      director_name  ...  imdb_score  movie_facebook_likes
0  Color      James Cameron  ...         7.9                 33000
1  Color     Gore Verbinski  ...         7.1                     0
2  Color         Sam Mendes  ...         6.8                 85000
3  Color  Christopher Nolan  ...         8.5                164000
4    NaN        Doug Walker  ...         7.1                     0

[5 rows x 24 columns]

In [ ]:
dataset

      color      director_name  ...  aspect_ratio  movie_facebook_likes
0     Color      James Cameron  ...          1.78                 33000
1     Color     Gore Verbinski  ...          2.35                     0
2     Color         Sam Mendes  ...          2.35                 85000
3     Color  Christopher Nolan  ...          2.35                164000
4       NaN        Doug Walker  ...           NaN                     0
...     ...                ...  ...           ...                   ...
5038  Color        Scott Smith  ...           NaN                    84
5039  Color                NaN  ...         16.00                 32000
5040  Color   Benjamin Roberds  ...           NaN                    16
5041  Color        Daniel Hsia  ...          2.35                   660
5042  Color           Jon Gunn  ...          1.85                   456

[5043 rows x 28 columns]

### Rellenar con un valor por defecto

Una de las estrategias más habituales es rellenar los valores no conocidos con un valor por defecto. Por ejemplo, podríamos decidir asumir que si no tenemos datos de los _likes_ del director en el _Facebook_, es que no tiene ninguno.

In [ ]:
dataset.director_facebook_likes.describe()

count     4939.000000
mean       686.509212
std       2813.328607
min          0.000000
25%          7.000000
50%         49.000000
75%        194.500000
max      23000.000000
Name: director_facebook_likes, dtype: float64

In [ ]:
dataset.director_facebook_likes = dataset.director_facebook_likes.fillna(0)

In [ ]:
# Comprobamos la operación
dataset.isnull().sum()/lengthDF*100

color                         0.376760
director_name                 2.062265
num_critic_for_reviews        0.991473
duration                      0.297442
director_facebook_likes       0.000000
actor_3_facebook_likes        0.456078
actor_2_name                  0.257783
actor_1_facebook_likes        0.138806
gross                        17.529248
genres                        0.000000
actor_1_name                  0.138806
movie_title                   0.000000
num_voted_users               0.000000
cast_total_facebook_likes     0.000000
actor_3_name                  0.456078
facenumber_in_poster          0.257783
plot_keywords                 3.033908
movie_imdb_link               0.000000
num_user_for_reviews          0.416419
language                      0.237954
country                       0.099147
content_rating                6.008328
budget                        9.756098
title_year                    2.141582
actor_2_facebook_likes        0.257783
imdb_score                    0.000000
aspect_ratio                  6.523895
movie_facebook_likes          0.000000
dtype: float64

In [ ]:
dataset.director_facebook_likes.describe()

count     5043.000000
mean       672.351576
std       2785.871819
min          0.000000
25%          6.000000
50%         45.000000
75%        189.000000
max      23000.000000
Name: director_facebook_likes, dtype: float64

O bién, podríamos decidir calcular la media de los _likes_ e imputarlo.

In [ ]:
df_bak.director_facebook_likes.describe()

count     5043.000000
mean       672.351576
std       2785.871819
min          0.000000
25%          6.000000
50%         45.000000
75%        189.000000
max      23000.000000
Name: director_facebook_likes, dtype: float64

In [ ]:
dataset_2 = df_bak

In [ ]:
dataset_2.director_facebook_likes.describe()

count     5043.000000
mean       672.351576
std       2785.871819
min          0.000000
25%          6.000000
50%         45.000000
75%        189.000000
max      23000.000000
Name: director_facebook_likes, dtype: float64

In [ ]:
dataset_2.director_facebook_likes = dataset_2.director_facebook_likes.fillna(dataset_2.director_facebook_likes.mean())

In [ ]:
# evaluar el mean, 25% - 50%
dataset_2.director_facebook_likes.describe()

count     5043.000000
mean       672.351576
std       2785.871819
min          0.000000
25%          6.000000
50%         45.000000
75%        189.000000
max      23000.000000
Name: director_facebook_likes, dtype: float64

### Conversiones de tipos de datos

Hay veces que los tipos de datos que infiere `Pandas` no son los que nosotros queremos. En este caso, deberemos convertir los tipos de datos de las variables. Para ver de qué tipo de datos es cada columna de nuestro _dataset_, usaremos el atributo `dtypes`.

In [ ]:
# primero analizaremos el tipo de dato de nuestro dataset
dataset.dtypes

color                         object
director_name                 object
num_critic_for_reviews       float64
duration                     float64
director_facebook_likes      float64
actor_3_facebook_likes       float64
actor_2_name                  object
actor_1_facebook_likes       float64
gross                        float64
genres                        object
actor_1_name                  object
movie_title                   object
num_voted_users                int64
cast_total_facebook_likes      int64
actor_3_name                  object
facenumber_in_poster         float64
plot_keywords                 object
movie_imdb_link               object
num_user_for_reviews         float64
language                      object
country                       object
content_rating                object
budget                       float64
title_year                   float64
actor_2_facebook_likes       float64
imdb_score                   float64
aspect_ratio                 float64
movie_facebook_likes           int64
dtype: object

Vemos que la variable `num_critic_for_reviews` es de tipo `float64`. Si queremos convertirla a entero, simplemente usaremos la función `astype('int')`. El tipo de datos `int` no acepta valores `NaN`, de manera que primero deberemos assignarle un valor a aquellas que no tengan. En nuestro caso, la llenaremos con un 0.

In [ ]:
# primero rellenamos con valor por defecto 0
dataset.num_critic_for_reviews.fillna(0,inplace=True)

In [ ]:
dataset.num_critic_for_reviews = dataset.num_critic_for_reviews.astype('int16')
dataset.num_critic_for_reviews.head(3)

0    723
1    302
2    602
Name: num_critic_for_reviews, dtype: int16

In [ ]:
dataset.num_critic_for_reviews.describe()

count    5043.000000
mean      138.804283
std       121.792053
min         0.000000
25%        48.000000
50%       109.000000
75%       194.000000
max       813.000000
Name: num_critic_for_reviews, dtype: float64

In [ ]:
dataset.dtypes

color                         object
director_name                 object
num_critic_for_reviews         int16
duration                     float64
director_facebook_likes      float64
actor_3_facebook_likes       float64
actor_2_name                  object
actor_1_facebook_likes       float64
gross                        float64
genres                        object
actor_1_name                  object
movie_title                   object
num_voted_users                int64
cast_total_facebook_likes      int64
actor_3_name                  object
facenumber_in_poster         float64
plot_keywords                 object
movie_imdb_link               object
num_user_for_reviews         float64
language                      object
country                       object
content_rating                object
budget                       float64
title_year                   float64
actor_2_facebook_likes       float64
imdb_score                   float64
aspect_ratio                 float64
movie_facebook_likes           int64
dtype: object

### Binarización de variables

La mayoría de herramientas y modelos para analizar datos sólo aceptan números como valores de las variables. Esto puede ser un problema si en nuestras variables tenemos variables categóricas. Para convertir estas variables en numéricas, la manera más sencilla es hacer lo que se conoce por _one-hot encoding_, es decir, transformar cada categoría de la variable en un vector binario que indique si la variable tiene este valor o no.

En nuestro dataset, por ejemplo, transformaremos la variable _color_, que tiene dos valores diferentes.

In [ ]:
# analizamos los valores únicos
dataset.color.describe()

count      5024
unique        2
top       Color
freq       4815
Name: color, dtype: object

In [ ]:
# utilizaremos la función pd.get_dummies() para realizar la conversión a valores binarios
dataset_color = pd.get_dummies(dataset.color)

In [ ]:
dataset_color.head()

    Black and White  Color
0                 0      1
1                 0      1
2                 0      1
3                 0      1
4                 0      0

In [ ]:
# La operación de limpieza e imputación de los valores nulos va a ser realizado antes de ser tratados.
dataset.color.head(5)

0    Color
1    Color
2    Color
3    Color
4      NaN
Name: color, dtype: object

Ahora sólo hace falta que eliminemos la variable `color` en nuestro _dataset_ y la sustituyamos por las dos variables binarias que hemos creado.

In [ ]:
dataset.drop(['color'], axis=1, inplace=True)

In [ ]:
dataset = dataset.join(dataset_color)
dataset.head(5)

       director_name  num_critic_for_reviews  ...   Black and White  Color
0      James Cameron                     723  ...                 0      1
1     Gore Verbinski                     302  ...                 0      1
2         Sam Mendes                     602  ...                 0      1
3  Christopher Nolan                     813  ...                 0      1
4        Doug Walker                       0  ...                 0      0

[5 rows x 29 columns]